@mixin flexible(
  $justify: null,
  $align: null,
  $direct: null,
  $gap: null,
  $wrap: null,
  $row-gap: null
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
  flex-direction: $direct;
  row-gap: $row-gap;
}

@mixin background($repeat: null, $size: null, $position: null) {
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}
