$primary_color: #fff;
$secondary_color: #da3340;
$secondary_color_dark: #c62337;
$third_color: #000000;
$grey_color_ton1: #787878;
$grey_color_ton2: #777777;
$grey_color_ton3: #cacaca;

$default_font_family: "Poppins", sans-serif;
